.Badge{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    &_header{
        width:80%;
        background:black;
        border-radius:10px 10px 0px 0px;
        color:white;
        padding:10px 20px;
        display:flex;
        align-items: center;
        justify-content:center;
    }
}